
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: #424242;
    
}
.left{
    width:35%;
}
.awards-image{
    width:100%;
}
.p{
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.8px;
}
.press-image{
    width:60%;
    margin:0px auto ;
    margin-top: 2rem;
}
.foot-links{
    display: flex;
    justify-content: space-between;
    margin: 0 8rem;
    font-size: 1.1rem;
     
}
.foot-links a{
    text-decoration: none;
    
}